/* Use to test
* {
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}  */
body {
  font-family: 'Staatliches', cursive;
}
#subtitle {
  text-align: center;
  font-size: 2rem;
}

.card-img-top {
    border-radius: calc(2.25rem - 1px);
}
.close {
  color: white;
  opacity: 1;
}
.close:hover, .close:focus {
  color: wheat;
}
.bg-inverse {
  background-color: #ebab71 !important;
}
#firstdiv{
  font-size: 40px;
}
@media only screen and (max-width: 1200px){
    .card {
      display: flex;
      flex-direction: row;
    }
  }
  @media only screen and (max-width: 568px){
      .card-img-top {
  max-width: 300px;
/*  height: auto;   commenting out to make all images the same size*/
      }
      @media only screen and (max-width: 505px){
        .card {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
  }
  @media only screen and (max-width: 444px){
    .modal body {
      padding: 0;
    }
    .table td {
      vertical-align: middle;
    }
    .table td, .table th {
      padding: 0;
    }
    .form-control {
      padding: 0;
    }
  }
  @media screen and (min-width: 1800px){
    .container {
      width: 100vw;
    }
  }
  @media screen and (min-width: 2000px){
    #subtitle {
      font-size: 60px;
    }
    #title {
      font-size: 115px;
    }
    .clear-cart {
      font-size: 22px;
    }
    .card-img-top {
      width: 530px;
      height: 415px;
    }
    h4 {
      font-size: 3.5rem;
    }
    .card-text {
      font-size: 2rem;
    }
    h8 {
      font-size: 1.5rem;
    }
    .add-to-cart {
      font-size: 2.2rem;
    }
    #captions {
      font-size: 2rem;
    }
    
    }
    @media screen and (max-width: 1000px){
      #subtitle {
        font-size: 1.5rem;
      }
    }
  